<table>
	<thead>
		<th>Player Name</th>
		<th>UBI Video</th>
		<th>VR Video</th>
	</thead>
	<tr>
		<td>valiant</td>
<td><a class="href" href="/valiant?name=vid16">Play</a> </td>
<td><a class="href" href="/valiant?name=vid1">Play</a> </td>
	</tr>
<tr>
	<td>clappr</td>

<td><a class="href" href="/clappr?name=vid16">Play</a>  </td>
<td><a class="href" href="/clappr?name=vid1">Play</a>  </td>
</tr>
<tr>
	<td>jwplayer</td>
<td><a class="href" href="/jwplayer?name=vid16">Play</a></td>
<td><a class="href" href="/jwplayer?name=vid1">Play</a></td>
</tr>
<tr>
	<td>videojs</td>
<td><a class="href" href="/videojs?name=vid16">Play</a> </td>
<td><a class="href" href="/videojs?name=vid1">Play</a> </td>
</tr>
<tr>
	<td>Lucid</td>
<td><a class="href" href="/lucid?name=vid16">Play</a> </td>
<td><a class="href" href="/lucid?name=vid1">Play</a> </td>
</tr>
<tr>
	<td>U to VR</td>
<td><a class="href" href="/u_to_vr?name=vid16">Play</a> </td>
<td><a class="href" href="/u_to_vr?name=vid1">Play</a> </td>
</tr>
<!-- <td><a class="href" href="/omnivert?name=vid1">Play</a></td> -->
</table>